/* Universal Selector */
*{
    box-sizing: border-box;
    margin: none;

}
/* Body Modification */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d5d7d147;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
form {
    width: 350px;  
    margin: auto;
}
/* Form container modification */
.container{
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: white;
    border: 1px solid rgb(174, 207, 236);
    border-radius: 10px;
    margin-top: 25px;
}
/* Input That contain Username and Password */
input{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 10px 0;
  opacity: 0.85;
  font-size: 17px;
  text-decoration: none;
}
/* Submit input i used input instead of button For password & username validation*/
input[type="submit"]{
        margin-top: 50px;
        background-color: #189ae5;
        color: white;
        cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(138, 196, 246);
}
a{
    text-decoration: none;
    display: flex;
    text-align: start;
    margin: 5px;
}
